<div *ngIf="alunoselecionado">
  <h2>{{alunoselecionado.nome | uppercase}}</h2>
  <div>id: {{alunoselecionado.id}}</div>
  <div>
    <label for="aluno-nome">Nome do Aluno: </label>
    <input id="aluno-nome" [(ngModel)]="alunoselecionado.nome" placeholder="nome">
  </div>
</div>

<table class="alunoscomponent">
  <li *ngFor="let aluno of alunos">
    <button [class.selected]="aluno === alunoselecionado" type="button" (click)="onSelect(aluno)">
      <span class="id"> {{aluno.id}}</span>
      <div class="buttondiv">
      <span class="nome">nome: {{aluno.nome}}</span>
      <span class="nasc">nascimento: {{aluno.nasc | date}}</span>
      <span class="casa">casa: {{aluno.casa}}</span>
    </div>
    </button>
  </li>
</table>
